.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.phone-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
    justify-items: center;
}

.selected-container{
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    height: 400px;
}

button{
    background-color:rgb(221, 221, 221);
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(112, 112, 112);
    color: white;
}

@media screen and (max-width:576px) {
    .shop-container{
        grid-template-columns: 1fr;
        order: 2;
    }
    .phone-container{
        grid-template-columns: 1fr;
        order: 1;
    }
    .selected-container{
        position: relative;
    }
}